/* {{{ Default font-size calculated for 15px at a base of 16px */

html {
    font-size: 93.75%;
}

/* }}} */
/* {{{ Default font and color */

body,
p,
ul,
ol,
dl,
td,
span,
h1,
h2,
h3,
h4,
h5 {
    font-family: Verdana,"Trebuchet MS",Arial,sans-serif;
    background-color: white;
    color: black;
}

code {
    font-family: "Vera Sans Mono","Courier New";
}

strong,
strong code {
    font-weight: bold;
}

a:link,
a:visited {
    color: #4f8cbc;
}

.videolink {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiM1MjkxQzMiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTEyLDJDNi40ODYsMiwyLDYuNDg2LDIsMTJzNC40ODYsMTAsMTAsMTBzMTAtNC40ODYsMTAtMTBTMTcuNTE0LDIsMTIsMnogTTEyLDIwYy00LjQxMSwwLTgtMy41ODktOC04czMuNTg5LTgsOC04IHM4LDMuNTg5LDgsOFMxNi40MTEsMjAsMTIsMjB6Ii8+PHBhdGggZD0iTTkgMTdMMTcgMTIgOSA3eiIvPjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: -0.2%;
    margin: 0px;
    padding-left: 1.1em;
}

hr {
    background-color: #ac485a;
    height: 2px;
    border: 0;
}

ul {
    list-style-type: disc;
}


/* }}} */
/* {{{ Default margins */

/* body { margin-top: 0; margin-left: 0; margin-right: 0; margin-bottom: 0;} */
body {
    margin-left: 10px;
    margin-right: 20px;
}

p,
ul,
ol,
dl,
table.indent {
    /* margin-left: 6.4em; */
    margin-left: 6.4em;
}

li p,
td p,
dd p,
td ul,
td ol,
td dl,
li ul,
li ol,
li dl,
dd ul,
dd ol,
dd dl {
    margin-left: 0;
}

pre {
    margin-left: 7em;
}


li pre,
td pre,
dd pre {
    margin-left: 2em;
}

ul,
ol {
    padding-left: 1em;
}
dl {
    padding-left: 0;
}

ul li,
ol li {
    margin-left: 1em;
    padding: 0;
}

dl dt,
dl dt code {
    font-weight: bold;
}
dl dt {
    margin-top: 1ex;
    margin-bottom: 1ex;
}
dl dt:first-child {
    margin-top: 0;
}

dl.attribute,
dl.option {
    font-weight:bold;
}

dl.attribute p,
dl.attribute ul,
dl.option p,
dl.option ul {
    margin-top:.2ex;
    font-weight:normal;
}

ul li {
    margin-top: 1ex;
}

ul li:first-child {
    margin-top: 0;
}

dl dd {
    font-weight: normal;
    margin-left: 2em;
    padding: 0;
}

li p:first-child,
dd p:first-child {
    margin-top: 0;
}

li p:last-child,
dd p:last-child {
    margin-bottom: 0;
}

table.example,
table.figure,
table.table {
    width:100%;
}

td.caption {
    width: 90%;
    padding-top: 10px;
    text-align: center;
}

td.captionglue {
    width: 5%;
}

td.margin  {
    width: 6.4em;        /* 5 default em */
    padding: 0;
    margin: 0;
}

table.margin {
    width: 6.4em;        /* 5 default em */
    padding: 0;
    margin: 0;
}

/* special nested cases */

table table.figure td.margin,
table table.figure table.margin,
table table.table td.margin,
table table.table table.margin,
li table.figure td.margin,
li table.figure table.margin,
li table.table td.margin,
li table.table table.margin,
dd table.figure td.margin,
dd table.figure table.margin,
dd table.table td.margin,
dd table.table table.margin  {
    width:0 ;
}

td.top {
    vertical-align: top;
}

/* Default align left */
table.tdleft td,
table.tdcenterleft td,
table.tdrightleft td {
    text-align: left;
}

/* centerleft: first column center, rest left */
table.tdcenterleft td:first-child {
    text-align: center;
}

/* rightleft: first column right, rest left */
table.tdrightleft td:first-child {
    text-align: right;
}

/* }}} */
/* {{{ Links */

h2.header-container td a:visited,
h3.header-container td a:visited,
h4.header-container td a:visited,
h5.header-container td a:visited,
tr.tpart td a:visited,
tr.tchapter td a:visited,
tr.tsection td a:visited,
tr.tsubsection td a:visited,
h2.header-container td a:link,
h3.header-container td a:link,
h4.header-container td a:link,
h5.header-container td a:link,
tr.tpart td a:link,
tr.tchapter td a:link,
tr.tsection td a:link,
tr.tsubsection td a:link {
    color: black;
    text-decoration: none;
}

td.caption a:link,
td.caption a:visited {
    color: black;
}

/* }}} */
/* {{{ Titles */

.header-container {
    display: flex;
    font-weight: bold;
    text-decoration: none;
}

.header-container > div {
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
}

.header-container > div.downlink {
    justify-content: space-between;
}

.header-container a {
    text-decoration: none;
    color: black;
}

.header-container > * {
    border-bottom: 1px solid black;
}

.header-container .downlink img {
    vertical-align: middle;
}

/* {{{ The Manual, 30px */

h1 {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    width: 100%;
    border-bottom: 2px solid #ac485a;
    padding-bottom: .3755em;
    margin-bottom: .3755em;
    margin-top: 0;
}

/* }}} */
/* {{{ Part, 20 px */

h2.header-container {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.6667em;
}

h2.header-container > div {
    width: 3.8399em;        /* 5 default em */
}

h2.header-container .numtitle {
    padding-right: .384em;    /* .5 default em */
}

/* }}} */
/* {{{ Chapter, 21px */

h3.header-container {
    margin-top: .8399em;
    margin-bottom: .8399em;
    font-size: 1.4em;
}

h3.header-container > div {
    width: 4.5714em;        /* 5 default em */
}

h3.header-container .numtitle {
    padding-right: .4571em;    /* .5 default em */
}

/* }}} */
/* {{{ Section, 17px */

h4.header-container {
    margin-top: .6800em;
    margin-bottom: .6800em;
    font-size: 1.1333em;
}

h4.header-container > div  {
    width: 5.6472em;            /* 5 default em */
}

h4.header-container .numtitle {
    padding-right: .5647em;    /* .5 default em */
}

/* }}} */
/* {{{ Subsection, 15.5px */

h5.header-container {
    margin-top: .6200;
    margin-bottom: .6200;
    font-size: 1.0333em;
}

h5.header-container > div {
    width: 6.1938em;        /* 5 default em */
}

h5.header-container .numtitle {
    padding-right: .6194em;    /* .5 default em */
}

h5.header-container * {
    font-size: 1em;
}

/* }}} */


/* }}} */
/* {{{ Navigation */

table.naviheader {
    border-bottom: 2px solid #ac485a;
}

table.naviheader td {
    padding-bottom: 4px;
}
table.naviheader td.margin {
    padding-right: 6.4em;
}

table.navifooter {
    padding-top: 8px;
    border-top: 2px solid #ac485a;
    margin-top: 1em;
}

table.navifooter td.margin {
    padding-right: 6.4em;
}

td.navicon {
    padding-right: 15px;
    background-color: white;
}

td.navicon img {
    vertical-align: bottom;
}

td.homeicon {
    text-align: right;
    margin-right: 0;
    width: 100%;
    vertical-align: bottom;
}

table.naviversion td {
    text-align: right;
    margin-right: 0;
    padding-right: 22px;
    width: 100%;
    vertical-align: top;
    font-size: 13px;
    color: #14286E;
    border: 0;
}

td.homeicon img {
    vertical-align: bottom;
}

td.navcopymod {
    width: 100%;
    margin-right: 0;
    text-align: right;
    font-size: 11px;
}

/* }}} */
/* {{{ Table of contents */

table.toc {
    border: 0;
    padding: 0;
}

/* {{{ part */

tr.tpart td {
    font-size: 1.3846em;    /* 18px */
    vertical-align: top;
    text-decoration: none;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid black;
    padding-top: .3611em;    /* .5 default em */
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    margin: 0
}

tr.tpart td.margin  {
    width: 4.3333em;        /* 5 default em */
}

tr.tpart table.margin {
    width: 4.3333em;        /* 5 default em */
}

tr.tpart table.margin td.numtitle {
    text-align: right;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: .4333em;    /* .5 default em */
}

/* }}} */
/* {{{ chapter */

tr.tchapter td {
    font-size: 1.1538em;    /* 15px */
    vertical-align: top;
    text-decoration: none;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid black;
    padding-top: .3033em;    /* .35 default em */
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    margin: 0
}

tr.tchapter td.margin  {
    width: 5.2em;        /* 5 default em */
}

tr.tchapter table.margin {
    width: 5.2em;        /* 5 default em */
}

tr.tchapter table.margin td.numtitle {
    text-align: right;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: .52em;    /* 5 default em */
}

/* }}} */
/* {{{ section */

tr.tsection td {
    font-size: 1.0769em;    /* 14px */
    vertical-align: top;
    text-decoration: none;
    border: 0;
    padding-top: .0929em;    /* .1 default em */
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
}

tr.tsection td.margin {
    width: 5.3555em;        /* 5 default em */
}

tr.tsection table.margin {
    width: 5.3555em;        /* 5 default em */
}

tr.tsection table.margin td.numtitle {
    text-align: right;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: .5356em;    /* .5 default em */
}

tr.tsection td.tsectionnum {
    padding-right: .5356em;    /* .5 default em */
}

/* }}} */
/* {{{ subsection */

tr.tsubsection td {
    font-size: 1em;        /* 13px */
    vertical-align: top;
    text-decoration: none;
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
}

tr.tsubsection td.margin {
    width: 6.4em;            /* 5 default em */
}

tr.tsubsection table.margin {
    width: 6.4em;            /* 5 default em */
}

tr.tsubsection table.margin td.numtitle {
    text-align: right;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: .64em;    /* .5 default em */
}

tr.tsubsection td.tsubsectionnum {
    padding-right: .64em;    /* .5 default em */
}

/* }}} */

table.margin td {
    font-size: 1em;
    border: 0;
}

/* }}} */
/* {{{ steps */

table.step {
    margin-top: 1em;
}

table.step td p:first-child {
    margin-top: 0;
}

table.step td p:last-child {
    margin-bottom: 0;
}

td.marginimg {
    vertical-align: top;
    text-align: right;
    padding-right: .5em;
}

/* }}} */
/* {{{ changbars */

table.iv2new {
    margin-left: 1em;
}

table.v2new  {
    padding: 0;
    margin-bottom: 1em;
}

table.v2new td.margin  {
    background-image: url(images/v2newbar.gif);
    background-repeat: repeat-y;
    background-position: left;
    padding: 0;
    margin: 0;
}

table.v2new table.margin td {
    padding: 0;
    margin: 0;
}

table.v2new td p:first-child {
    margin-top: 0;
}

table.v2new td p:last-child {
    margin-bottom: 0;
}

/* }}} */
/* {{{ margin notes */

span.margin {
    position:absolute; left:0px;
    font-size: 1em;
    margin: 0 0 0 10px;
    padding: 0;
    vertical-align: top;
}

span.note {
    font-weight: bold;
    color: #ac485a;
    text-align: right;
    margin: 0;
    padding: 0;
    font-size: .7333em;        /* 12px */
}

h1 span.note {
    font-size: .3667em;        /* / 2 */
}
h2.header-container span.note {
    font-size: .44em;        /* / 1.6667 */
}
h3.header-container span.note {
    font-size: .5238em;        /* / 1.4 */
}
h4.header-container span.note {
    font-size: .647em;        /* / 1.1333 */
}
h5.header-container span.note {
    font-size: .7097em;        /* / 1.0333 */
}
tr.tpart span.note {
    font-size: .5296em;        /* / 1.3846 */
}
tr.tchapter span.note {
    font-size: .6356em;        /* / 1.1538 */
}
tr.tsection span.note {
    font-size: .681em;        /* / 1.0769 */
}
tr.tsubsection span.note {
    font-size: .7333em;        /* / 1 */
}

/* }}} */
/* {{{ faq */

table.faq,
table.faqindex {
    width:100%;
}

table.faq {
    margin-top: 1em;
}

table.faq td.faqtopic {
    font-size: 1.1538em;    /* 15px */
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: .5em;
    border-top: 1px solid #ac485a;
}

table.faq td.faqquestion,
table.faq td.faqquestionnum {
    font-weight: bold;
}

table.faq td.faqquestionnum {
    text-align: right;
    padding-right: .5em;
}

div.faqsep {
    padding-top: 1em;
}

td.faqanswer p:first-child {
    margin-top: 0;
}

td.faqanswer p:last-child {
    margin-bottom: 0;
}

table.faqindex td.faqitopic {
    padding-top: 1em;
}

td.faqitopic {
    font-size: 1.0769em;    /* 14px */
    font-weight: bold;
    padding-top: 1em;
}

td.faqitopic a:link,
td.faqitopic a:visited,
td.faqiquestion a:link,
td.faqiquestion a:visited,
td.faqiquestionnum a:link,
td.faqiquestionnum a:visited {
    color: black;
}

table.faqindex td.faqiquestion,
table.faqindex td.faqiquestionnum {
    font-size: 1em;
}

table.faqindex td.faqiquestionnum {
    text-align: right;
    padding-right: .5em;
}

/* }}} */
/* {{{ example */

td.example {
    text-align: left;
    padding: 5px;
    border: 1px solid #ac485a;
    background-color: #E6DADC;
}

td.example pre {
    margin: 0;
}

td.example a:link,
td.example a:visited,
td.example a:active {
    color: black;
}

/* }}} */
/* {{{ api */

table.api {
    padding-top: .5em;
}

td.methoddef {
    padding-top: .5em;
    padding-bottom: .5em;
    font-size: 1.1538em;    /* 15px */

}

td.methodsep {
    padding-bottom: 5em;
    border-bottom: 1px solid #ac485a;
    font-size: .1em;
}

td.apiend {
    padding-bottom: 10em;
    font-size: .1em;
}

td.apibegin {
    padding-bottom: 5em;
    font-size: .1em;
}

td.api td.comment {
    padding-left: 1.5em;
}

td.paramname,
td.throwname {
    padding-left: 1.5em;
    padding-right: .5em;
}

td.paramname,
td.paramdesc,
td.return,
td.returndesc,
td.throwname,
td.throwdesc {
    vertical-align: top;
    padding-bottom: .5em;
}

tr:last-child td.paramname,
tr:last-child td.paramdesc,
tr:last-child td.return,
tr:last-child td.returndesc,
tr:last-child td.throwname,
tr:last-child td.throwdesc {
    padding-bottom: 0;
}

td.params,
td.return,
td.returndesc,
td.throws {
    padding-top: .5em;
}

td.api td.comment p:first-child,
td.api td.comment ul:first-child,
td.api td.comment ol:first-child,
td.api td.comment dl:first-child,
td.api td.paramdesc p:first-child,
td.api td.throwdesc p:first-child {
    margin-top: 0;
}

td.api td.comment p:last-child,
td.api td.comment ul:last-child,
td.api td.comment ol:last-child,
td.api td.comment dl:last-child,
td.api td.paramdesc p:last-child,
td.api td.throwdesc p:last-child {
    margin-bottom: 0;
}

/* }}} */
